<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/Main.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="bg-light">
      <div class="footerWrap pb-2">
        <div class="footerWrap_info d-flex flex-column flex-md-row flex-lg-column">
          <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="footerWrap_info_logo">
              <img src="../Assets/Images/logo/logo.png" alt="" />
            </div>
            <div class="footerWrap_info_subscribe">
              <p>
                To receive email releases, simply provide <br />
                us with your email below
              </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-12" >
            <div class="footerWrap_info_input mt-sm-3 mt-lg-0">
              <form action="" class="">
                <input
                  type="text"
                  placeholder="Your Email"
                  class="form-control"
                />
                <i class="fa-solid fa-envelope"></i>
              </form>
            </div>
            <div class="footerWrap_info_social d-flex">
              <a href="#" class="footerWrap_info_social_link"
                ><i class="fa-brands fa-google"></i
              ></a>
              <a href="#" class="footerWrap_info_social_link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="#" class="footerWrap_info_social_link"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="#" class="footerWrap_info_social_link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="footerWrap_blogs">
          <p class="footerWrap_blogs_title">Blogs</p>

          <!-- Blog -->
          <div class="footerWrap_blogs_item row align-items-center">
            <div class="footerWrap_blogs_item_imageWrapper">
              <img
                src="../Assets/Uploads/Blogs/footer-post-author-01.jpg"
                alt=""
              />
            </div>
            <div class="footerWrap_blogs_item_info col">
              <a href="#" class="blogTitle">
                The doctor’s guide to healthy break...</a
              >
              <small>September 26, 2018</small>
            </div>
          </div>

          <!-- Blog -->
          <div class="footerWrap_blogs_item row align-items-center">
            <div class="footerWrap_blogs_item_imageWrapper">
              <img
                src="../Assets/Uploads/Blogs/footer-post-author-01.jpg"
                alt=""
              />
            </div>
            <div class="footerWrap_blogs_item_info col">
              <a href="#" class="blogTitle">
                The doctor’s guide to healthy break...</a
              >
              <small>September 26, 2018</small>
            </div>
          </div>

          <!-- Blog -->
          <div class="footerWrap_blogs_item row align-items-center">
            <div class="footerWrap_blogs_item_imageWrapper">
              <img
                src="../Assets/Uploads/Blogs/footer-post-author-01.jpg"
                alt=""
              />
            </div>
            <div class="footerWrap_blogs_item_info col">
              <a href="#" class="blogTitle">
                The doctor’s guide to healthy break...</a
              >
              <small>September 26, 2018</small>
            </div>
          </div>
        </div>

        <div class="footerWrap_contact">
          <p class="footerWrap_contact_title">Our Contacts</p>

          <div class="footerWrap_contact_info row p-1 align-items-center">
            <div class="col-1">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="col-10">
              <address class="mb-0">
                1560 Holden Street San Diego
                <a
                  href=""
                  class="btn footerWrap_contact_addressButton col-sm-5 col-md-11 col-lg-11"
                  ><small>Get directions on the map</small>
                </a>
              </address>
            </div>
          </div>

          <div class="footerWrap_contact_info row p-1 align-items-center mt-1">
            <div class="col-1">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="col-10">
              <p class="mb-0">1560 Holden Street San Diego</p>
            </div>
          </div>

          <div class="footerWrap_contact_info row p-1 align-items-center mt-1">
            <div class="col-1">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="col-10">
              <p class="mb-0">tahirlitahirr@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div
            class="m-auto justify-content-between align-items-center flex-column flex-md-row d-flex p-2"
          >
            <div class="">
              Copyright © 2020 Medlab | <a href="#">Privacy Policy</a>
            </div>
            <div class="">
              For emergency cases <i class="fa-solid fa-phone mx-3"></i>
              <span> 1-800-267-0000</span>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- font awesome  -->
    <script
      src="https://kit.fontawesome.com/f0bcda735f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
